@model TheFlightShop.Models.ProductCategoryViewModel
@{
    ViewData["Title"] = "Click Bond - Products";
}

<div class="flightshop-page-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Products" asp-action="Index">ClickBond</a>
            </li>
            <li id="flightshop-active-subcategory-breadcrumb" class="breadcrumb-item active" aria-current="page">
                @Model.CategoryName
            </li>
        </ol>
    </nav>
    <div class="form-group">
        <label for="flightshop-sub-category-select">Sub-category:</label>
        <select id="flightshop-sub-category-select" class="form-control" onchange="selectedCategoryChange(this.value)">
            <option value="all">All</option>
            @foreach (var subCategory in Model.SubCategories) {
                <option value="@subCategory">@subCategory</option>
            }
        </select>
    </div>
    <div id="flightshop-products-most-popular-legend">* Most Popular</div>
    @{ 
        int i = 0;
        int rowNumber = 1;
    }
    @foreach (var product in Model.Products) {
        if (i > 0 && i % 4 == 0) {
            rowNumber++;
        }
        i++;
        var marginClass = rowNumber > 1 ? "flightshop-product-link-margin-top" : "";

        <div class="col-xs-3 flightshop-product-link-container @marginClass" data-subcategory="@product.SubCategory">
            <a class="flightshop-product-link"
               asp-controller="Products"
               asp-action="ProductDetail"
               asp-route-id="@product.Id">

                <img class="flightshop-product-image"
                     src="@product.ImageSource"
                     alt="@product.Code" />
                <h5>
                    @if(product.IsMostPopular) {
                        <span>*</span>
                    }
                    @product.Code
                </h5>
                <span class="flightshop-product-link-description">@product.ShortDescription</span>
            </a>
        </div>
    }
</div>