@model TheFlightShop.Models.ProductDetailViewModel
@{
    ViewData["Title"] = "Product Detail - " + Model.ProductCode;
}

<div class="flightshop-page-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Products" asp-action="Index">ClickBond</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Products" asp-action="Category" asp-route-id="@Model.CategoryId">
                    @Model.Category
                </a>
            </li>
            <li class="breadcrumb-item  active" aria-current="page">
                @Model.ProductCode
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-xs-5">
            <img id="flightshop-product-detail-image" src="@Model.ImageSource" alt="@Model.ProductCode" />
            <div id="flightshop-product-detail-external-links">
                @*<div id="flightshop-product-detail-OG-download-section">
                    <span>Drawing:</span>
                    <a download href="@Model.DrawingUrl">Download</a>
                </div>
                <div>

                </div>*@
                @*
                    NOTE: this is for when blown-up (scalable) images are used
                    old Flight Shop images (original site) don't scale well, so different styling was used*@
                <hr class="flightshop-product-detail-links-separator" />
                <div>
                    <span>Drawing:</span>
                    <span class="flightshop-product-detail-download-link">
                        <a download href="@Model.DrawingUrl">Download</a>
                    </span>
                </div>
                <hr class="flightshop-product-detail-links-separator" />
                @if (Model.NumberOfInstallationExamples > 0) {
                    <div>
                        <span>Installation Examples:</span>
                        <span class="flightshop-product-detail-download-link">
                            <a style="cursor: pointer;"
                               href="javascript:void(0)"
                               onclick="openInstallationExamples()">
                                View
                            </a>
                        </span>
                    </div>
                }
        @*<div>
            <span>Comparison Table:</span>
            <span class="flightshop-product-detail-download-link">
                <a href="@Model.ComparisonTableUrl">Download</a>
            </span>
        </div>*@
            </div>
        </div>
        <div class="col-xs-7">
            <h3 id="flightshop-product-detail-title">@Model.ProductCode</h3>
            <p id="flightshop-product-detail-subtitle">@Model.ShortDescription</p>
            <p id="flightshop-product-detail-description">@Model.LongDescription</p>
        </div>
    </div>
    <div id="flightshop-installation-examples" class="row" style="display: none;">
        <div id="flightshop-installation-examples-header">
            <span id="flightshop-installation-examples-title">Installation Examples</span>
            <button id="flightshop-installation-examples-header-close-button" 
                type="button"
                onclick="closeInstallationExamples()"
                >
                <span>&times;</span>
            </button>
        </div>
        <div id="flightshop-installation-examples-image-container">
            @for (int i = 1; i <= Model.NumberOfInstallationExamples; i++) {
                var imageSource = Model.InstallationExamplesPath + "example-" + i + ".jpg";
                <img class="flightshop-installation-example-image" src="@imageSource" alt="installation example" />
            }
        </div>
    </div>
    <div id="flightshop-product-detail-parts-section" class="row">
        <table id="flightshop-parts-table">
            <tr>
                <th class="flightshop-parts-table-column-short flightshop-parts-table-cell">Part Number</th>
                <th class="flightshop-parts-table-column-long flightshop-parts-table-cell">Description</th>
                <th class="flightshop-parts-table-column-short flightshop-parts-table-cell">Price</th>
                <th class="flightshop-parts-table-column-short flightshop-parts-table-cell">Add to Cart</th>
            </tr>


            @*@if (Model.Parts == null || !Model.Parts.Any())
            {
                <tr>
                    <td class="flightshop-parts-table-cell"></td>
                    <td class="flightshop-parts-table-cell"><em>Special ordered parts to be quoted.</em></td>
                    <td class="flightshop-parts-table-cell"><em>(quote)</em></td>
                    <td class="flightshop-parts-table-cell">
                        <input id="addToCartQuantity-@part.PartNumber" class="flightshop-part-add-to-cart-input" value="1" type="number" />
                        <button type="button" onclick="addToCart(@part.Id, '@part.PartNumber', @part.Price)">Add</button>
                    </td>
                </tr>
            }
            @else  {*@
            @foreach (var part in Model.Parts)
            {
                <tr>
                    <td class="flightshop-parts-table-cell">@part.PartNumber</td>
                    <td class="flightshop-parts-table-cell">@part.Description</td>
                    <td class="flightshop-parts-table-cell">@string.Format("${0:####.00}", part.Price)</td>
                    <td class="flightshop-parts-table-cell">
                        <input id="addToCartQuantity-@part.PartNumber" class="flightshop-part-add-to-cart-input" value="1" type="number" />
                        <button type="button" onclick="addToCart('@Model.ProductId', '@part.PartNumber', '@part.Description', @part.Price, '@Model.ImageSource')">Add</button>
                    </td>
                </tr>
            }
        </table>
        <div id="flightshop-invalid-unlisted-part-alert" class="alert alert-danger" style="display: none;">
            Please provide part number.
        </div>
        <div id="flightshop-invalid-part-quantity" class="alert alert-danger" style="display: none;">
            Please provide quantity greater than zero.
        </div>
        <button id="flightshop-button-add-special-part" 
            type="button" 
            class="btn btn-default"
            onclick="addUnlistedPart('@Model.ProductId', '@Model.ImageSource')"
            >
            + Add part
        </button>
    </div>
</div>