@model TheFlightShop.Models.ProductView
@{
    ViewData["Title"] = "Product Detail - " + Model.ProductCode;
}

<div class="flightshop-page-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Products" asp-action="Index">ClickBond</a>
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink(
                     Model.Category,
                     "Index",
                     "Products",
                     new { categoryId = Model.CategoryId }
                 )
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink(
                     Model.SubCategory,
                     "SubCategory",
                     "Products",
                     new { id = Model.SubCategoryId }
                 )
            </li>
            <li class="breadcrumb-item  active" aria-current="page">
                @Model.ProductCode
            </li>
        </ol>
    </nav>

    <h4>@Model.ShortDescription</h4>
    <table class="flightshop-info-table">
        <tr>
            <th class="flightshop-product-detail-table-cell">Part Number</th>
            <th class="flightshop-product-detail-table-cell">Description</th>
            <th class="flightshop-product-detail-table-cell">Price per Part</th>
            <th class="flightshop-product-detail-table-cell">Quantity</th>
        </tr>
        @{ var isAlternating = true; }
        @foreach (var part in Model.Parts) {
            var rowClass = isAlternating ? "flightshop-alternating-row" : "";
            isAlternating = !isAlternating;
            <tr class="@rowClass">
                <td class="flightshop-product-detail-table-cell">@part.PartNumber</td>
                <td class="flightshop-product-detail-table-cell">@part.Description</td>
                <td class="flightshop-product-detail-table-cell">@string.Format("${0:####.00}", part.Price)</td>
                <td class="flightshop-product-detail-table-cell"></td>
            </tr>
        }
    </table>
    <p id="flightshop-product-long-description">@Model.LongDescription</p>
</div>