@model TheFlightShop.Models.ProductView
@{
    ViewData["Title"] = "Product Detail - " + Model.ProductCode;
}

<div class="flightshop-page-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Products" asp-action="Index">ClickBond</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Products" asp-action="Category" asp-route-id="@Model.CategoryId">
                    @Model.Category
                </a>
            </li>
            <li class="breadcrumb-item  active" aria-current="page">
                @Model.ProductCode
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-xs-5">
            <img id="flightshop-product-detail-image" src="@Model.ImageSource" alt="@Model.ProductCode" />
            <div id="flightshop-product-detail-external-links">
                <div>
                    <span>Drawing:</span>
                    <span class="flightshop-product-detail-download-link">
                        <a href="@Model.DrawingUrl">Download</a>
                    </span>
                </div>
                <hr class="flightshop-product-detail-links-separator" />
                <div>
                    <span>Comparison Table:</span>
                    <span class="flightshop-product-detail-download-link">
                        <a href="@Model.ComparisonTableUrl">Download</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <h3 id="flightshop-product-detail-title">@Model.ProductCode</h3>
            <p id="flightshop-product-detail-subtitle">@Model.ShortDescription</p>
            <p id="flightshop-product-detail-description">@Model.LongDescription</p>
        </div>
    </div>
</div>