@model TheFlightShop.Models.ProductView
@{
    ViewData["Title"] = "Product Detail - " + Model.ProductCode;
}

<div class="flightshop-page-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Products" asp-action="Index">ClickBond</a>
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink(
                     Model.Category,
                     "Index",
                     "Products",
                     new { categoryId = Model.CategoryId }
                 )
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink(
                     Model.SubCategory,
                     "SubCategory",
                     "Products",
                     new { id = Model.SubCategoryId }
                 )
            </li>
            <li class="breadcrumb-item  active" aria-current="page">
                @Model.ProductCode
            </li>
        </ol>
    </nav>

    <h4>@Model.ShortDescription</h4>
    <table>
        <tr>
            <th>Part Number</th>
            <th>Description</th>
            <th>Price per Part</th>
            <th>Quantity</th>
        </tr>
        <!-- alternateColor = faslse; alternateColor = !alternateColor -->
        @foreach (var part in Model.Parts) {
            <tr>
                <td>@part.PartNumber</td>
                <td>@part.Description</td>
                <td>@part.Price</td>
                <td></td>
            </tr>
        }
    </table>
</div>