<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TheFlightShop</title>

       @* <environment include="Development">*@
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/css/index.css" />
            <link rel="stylesheet" href="~/css/contact.css" />
            <link rel="stylesheet" href="~/css/terms.css" />
            <link rel="stylesheet" href="~/css/maintenance/company-profile.css" />
            <link rel="stylesheet" href="~/css/maintenance/facility.css" />
            <link rel="stylesheet" href="~/css/maintenance/services.css" />
            <link rel="stylesheet" href="~/css/maintenance/parts.css" />
            <link rel="stylesheet" href="~/css/maintenance/modifications.css" />
            <link rel="stylesheet" href="~/css/maintenance/cabin-baggage-door-struts.css" />
            <link rel="stylesheet" href="~/css/maintenance/cabin-door-cables.css" />
            <link rel="stylesheet" href="~/css/maintenance/window-shades.css" />
            <link rel="stylesheet" href="~/css/maintenance/instrument-panels.css" />
            <link rel="stylesheet" href="~/css/click-bond/authorized-distributor.css" />
            <link rel="stylesheet" href="~/css/click-bond/installation.css" />
            <link rel="stylesheet" href="~/css/click-bond/strength-data.css" />
            <link rel="stylesheet" href="~/css/click-bond/ordering-information.css" />
            <link rel="stylesheet" href="~/css/products/index.css" />
            <link rel="stylesheet" href="~/css/products/category.css" />
            <link rel="stylesheet" href="~/css/products/product-detail.css" />

            <link href="https://fonts.googleapis.com/css?family=Kanit:200&display=swap" rel="stylesheet">
        @*</environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/min/site.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/min/index.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/min/contact.min.css" />
            <link rel="stylesheet" href="~/css/min/terms.min.css" />
            <link rel="stylesheet" href="~/css/min/maintenance/company-profile.min.css" />
            <link rel="stylesheet" href="~/css/min/maintenance/facility.min.css" />
            <link rel="stylesheet" href="~/css/min/maintenance/services.min.css" />
            <link rel="stylesheet" href="~/css/min/maintenance/parts.min.css" />
            <link rel="stylesheet" href="~/css/min/maintenance/modifications.min.css" />
            <link rel="stylesheet" href="~/css/min/maintenance/cabin-baggage-door-struts.min.css" />
            <link rel="stylesheet" href="~/css/min/maintenance/cabin-door-cables.min.css" />
            <link rel="stylesheet" href="~/css/min/maintenance/window-shades.min.css" />
            <link rel="stylesheet" href="~/css/min/maintenance/instrument-panels.min.css" />
            <link rel="stylesheet" href="~/css/min/click-bond/authorized-distributor.min.css" />
            <link rel="stylesheet" href="~/css/min/click-bond/installation.min.css" />
            <link rel="stylesheet" href="~/css/min/click-bond/strength-data.min.css" />
            <link rel="stylesheet" href="~/css/min/click-bond/ordering-information.min.css" />
            <link rel="stylesheet" href="~/css/min/products/index.min.css" />
            <link rel="stylesheet" href="~/css/min/products/category.min.css" />
            <link rel="stylesheet" href="~/css/min/products/product-detail.min.css" />
        </environment>*@
    </head>
    <body>
        <div id="homepage-landing-area" style="display: none;">
            <img id="flightshop-homepage-background" src="~/images/index/homepage.png" alt="flight shop inc." />
            <div id="flightshop-homepage-title">The Flight Shop Inc.</div>
            <div id="flightshop-weather-info">
                <div id="flightshop-weather-location" class="flightshop-weather-item">Brigham City Airport (KBMC)</div>
                <div id="flightshop-weather-last-updated"></div>
                <div id="flightshop-temperature-info" class="flightshop-weather-item"></div>
                <div id="flightshop-altimeter-info" class="flightshop-weather-item flightshop-weather-info-item"></div>
                <div id="flightshop-wind-info" class="flightshop-weather-item flightshop-weather-info-item"></div>
                <div id="flightshop-visibility-info" class="flightshop-weather-item flightshop-weather-info-item"></div>
            </div>
            <div id="flightshop-homepage-subtitle">40 years of experience with qualified technicians.</div>
        </div>

        <nav id="flightshop-nav-wrapper">
            <div id="flightshop-nav">
                <div id="flightshop-logo-container">
                    <a id="flightshop-home-link" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img id="flightshop-logo" src="~/images/the-flight-shop.png" />
                    </a>
                </div>

                @*<div id="flightshop-left-sub-menu" style="display: none;">
                *@
                @*<a class="flightshop-left-sub-menu-option"
            asp-controller="Home"
            asp-action="Contact">
            Contact
        </a>*@
                @*<span class="flightshop-center-sub-menu-option-divider">&nbsp;|&nbsp;</span>*@
                @* todo: implement user auth/accounts, check isLoggedIn in each request (filter?) *@
                @if (false)
                {
                    @*<a class="flightshop-left-sub-menu-option"
               asp-controller="Home"
               asp-action="Index">
                Nick
            </a>*@
                }
                else
                {
                    @*<a class="flightshop-left-sub-menu-option"
               asp-controller="Home"
               asp-action="Index">
                Sign In
            </a>*@
                }
                @*   <span class="flightshop-center-sub-menu-option-divider">&nbsp;|&nbsp;</span> *@
                @*<a class="flightshop-left-sub-menu-option"
           asp-controller="Home"
           asp-action="Index">
            Cart&nbsp;&nbsp;<span id="flightshop-nav-cart-amount">$0.00</span>
        </a>*@
                @*</div> *@

                <div id="flightshop-search-container" class="input-group">
                    <form onsubmit="userSearchEnter(); return false;">
                        <input id="user-search-val" type="text" class="form-control" placeholder="Search ClickBond products..." oninput="userSearchChange()" />
                        <div class="input-group-append">
                            <button id="flightshop-search-button" type="submit" class="btn btn-outline-secondary">
                                <img id="flightshop-search-button-image" src="~/images/icons/mag.png" alt="search" />
                            </button>
                        </div>
                    </form>
                </div>
                <ul id="flightshop-quick-search-results-list">
                </ul>
                <div id="flightshop-quick-search-no-results" style="display: none;"></div>
                @*  <div id="flightshop-center-sub-menu">*@
                @* TODO: implement cart and search, then show this
            TODO: also, re-enable "margin-top" on #flightshop-nav-menu in CSS
        <a class="flightshop-center-sub-menu-option"
            asp-controller="Home"
            asp-action="Contact">
            Contact
        </a>
        <span class="flightshop-center-sub-menu-option-divider">&nbsp;|&nbsp;</span>*@
                @* todo: implement user auth/accounts, check isLoggedIn in each request (filter?) *@
                @if (false)
                {
                    @*<a class="flightshop-center-sub-menu-option"
               asp-controller="Home"
               asp-action="Index">
                Nick
            </a>*@
                }
                else
                {
                    @*<a class="flightshop-center-sub-menu-option"
               asp-controller="Home"
               asp-action="Index">
                Sign In
            </a>*@
                }
                @*<span class="flightshop-center-sub-menu-option-divider">&nbsp;|&nbsp;</span>
        <a class="flightshop-center-sub-menu-option"
           asp-controller="Home"
           asp-action="Index">
            Cart&nbsp;&nbsp;<span id="flightshop-nav-cart-amount">$0.00</span>
        </a>*@
                @*  </div> *@
                <!--<div class="navbar-collapse collapse">-->
                <ul id="flightshop-nav-menu" class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle flightshop-main-nav-option" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Maintenance<span class="caret flightshop-nav-caret"></span>
                        </a>
                        <div class="flightshop-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="CompanyProfile">Company Profile</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Facility">Facility</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Services">Services</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Parts">Parts</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Modifications">Modifications</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="CabinBaggageDoorStruts">Cabin &amp; Baggage Door Struts</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="CabinDoorCables">Cabin Door Cables</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="WindowShades">Window Shades</a>
                            <a class="dropdown-item flightshop-sub-nav-option" href="#">Bulletin Board</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle flightshop-main-nav-option" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Click Bond<span class="caret flightshop-nav-caret"></span>
                        </a>
                        <div class="flightshop-dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="ClickBondAuthorizedDistributor">Click Bond Authorized Distributor</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Products"
                               asp-action="Index">Products</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="ClickBondInstallation">Installation</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               href="~/documents/click-bond-process-specification.pdf"
                               target="_blank">Process Specification</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="ClickBondStrengthData">Strength Data</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="OrderingInformation">Ordering Information</a>
                            <a class="dropdown-item flightshop-sub-nav-option"
                               href="~/documents/the-flight-shop-catalog.pdf"
                               target="_blank">Free Catalog</a>
                        </div>
                    </li>
                    @* <li><a class="flightshop-main-nav-option" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                    <li style="margin-left: 1em;">
                        <a id="flightshop-cart-link" class="flightshop-cart-nav-option" asp-area="" asp-controller="Cart" asp-action="Index">
                            <img src="~/images/icons/cart.svg" alt="cart" />
                            <span id="flightshop-cart-count-wrapper" class="flightshop-cart-items-count">
                                &nbsp;
                                <span id="flightshop-cart-items-count">0</span>
                                &nbsp;
                            </span>
                        </a>
                    </li>
                    @* <li><a href="#">Sign In</a></li>*@
                </ul>
                <!-- </div> -->
            </div>
        </nav>

       <!-- <partial name="_CookieConsentPartial" /> -->

        <div id="page-body-content" class="body-content flightshop-dynamic-text-size">
            @RenderBody()
            <footer id="flightshop-footer">
                <hr />
                <p>&copy; 2019 - TheFlightShop&nbsp;|&nbsp;<a asp-area="" asp-controller="Home" asp-action="Terms">Terms</a>&nbsp;|&nbsp;<a asp-controller="Home" asp-action="Contact">Contact Us</a></p>
            </footer>
            <div id="flightshop-product-added-arrow" class="flightshop-product-added-arrow" style="display: none;"></div>
            <div id="flightshop-added-to-cart-overlay" 
                style="display: none;" 
                onmouseover="showProductAddedDisplay()"
                 onmouseout="fadeProductAddedDisplay()"
                >
                <p id="flightshop-added-to-cart-close" onclick="closeProductsAddedOverlay()">&times;</p>
                <p id="flightshop-product-added-header">Product(s) added to cart:</p>
                <div id="flightshop-product-added-items">
                </div>
                <p>
                    <a asp-controller="Cart" asp-action="Index">View Cart</a>
                </p>
            </div>
        </div>

        @*<environment include="Development">*@
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/products/category.js" asp-append-version="true"></script>
            <script src="~/js/products/product-detail.js" asp-append-version="true"></script>
        @*</environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="~/js/products/category.min.js" asp-append-version="true"></script>
            <script src="~/js/products/product-detail.min.js" asp-append-version="true"></script>
        </environment>*@

        @RenderSection("Scripts", required: false)
            <script>
    var WIND_DIRECTIONS = [
        {
            range: [337.5, 22.5],
            hexCode: '&#8595;' // N
        },
        {
            range: [22.5, 67.5],
            hexCode: '&#8601;' // NE
        },
        {
            range: [67.5, 112.5],
            hexCode: '&#8592;' // E
        },
        {
            range: [112.5, 157.5],
            hexCode: '&#8598;' // SE
        },
        {
            range: [157.5, 202.5],
            hexCode: '&#8593;' // S
        },
        {
            range: [202.5, 247.5],
            hexCode: '&#8599;' // SW
        },
        {
            range: [247.5, 292.5],
            hexCode: '&#8594;' // W
        },
        {
            range: [292.5, 337.5],
            hexCode: '&#8600;' // NW
        }
    ];

    Date.prototype.addMinutes = function(m) {
        this.setTime(this.getTime() + (m*60*1000));
        return this;
    }

    // call web server
    function fetchWeatherInfo(callback) {
        $.ajax({
            url: 'https://avwx.rest/api/metar/KBMC?options=&format=json&onfail=cache',
            type: 'GET',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'bearer vgBeTkyGtNest-eubNHeYFxpMw6Su7ht1dM9r-PvrcY');
            },
            success: function(weatherInfo) {
                var fifteenMinutesFromNow = new Date().addMinutes(15);
                weatherInfo = {
                    expires: fifteenMinutesFromNow,
                    altimeter: weatherInfo.altimeter,
                    temperature: weatherInfo.temperature,
                    wind_speed: weatherInfo.wind_speed,
                    wind_direction: weatherInfo.wind_direction,
                    visibility: weatherInfo.visibility,
                    units: weatherInfo.units
                };
                window.localStorage.setItem('currentWeatherInfo', JSON.stringify(weatherInfo));
                callback(weatherInfo);
            },
            error: function(err) {
                console.log('error fetching weather info for KBMC.')
            }
        })
    }

    // try to get localStorage else fetch
    function retrieveWeatherInfo(callback) {
        var weatherInfo = window.localStorage.getItem('currentWeatherInfo');
        if (weatherInfo) {
            weatherInfo = JSON.parse(weatherInfo);
            if (new Date(weatherInfo.expires) > new Date()) {
                callback(weatherInfo);
            }
            else {
                fetchWeatherInfo(callback);
            }

        }
        else {
            fetchWeatherInfo(callback);
        }
    }

    // update UI w/ current weather info
    function getCurrentWeatherInfo() {
        retrieveWeatherInfo(function (data) {
            var altimeterValue = data.altimeter.value;
            var temperature = data.temperature.value;
            var temperatureUnits = data.units.temperature;
            var windSpeed = data.wind_speed.value;
            var windSpeedUnits = data.units.wind_speed;
            var windDirection = data.wind_direction.value;
            var visibility = data.visibility.value;
            var visiblityUnits = data.units.visibility;

            var directionCode = null;
            for (var i = 0; i < WIND_DIRECTIONS.length && directionCode === null; i++) {
                var directionRange = WIND_DIRECTIONS[i].range;
                if (windDirection >= 337.5 && windDirection <= 360 || windDirection >= 0 && windDirection < 22.5) {
                    directionCode = WIND_DIRECTIONS[0].hexCode; // N
                }
                else if (windDirection >= directionRange[0] && windDirection <= directionRange[1]) {
                    directionCode = WIND_DIRECTIONS[i].hexCode;
                }
            }

            var lastUpdated = new Date(data.expires);
            lastUpdated.addMinutes(-15);
            var ampm = "AM";
            var hours = lastUpdated.getHours();
            if (hours >= 12) {
                ampm = "PM";
                if (hours > 12) {
                    hours -= 12;
                }
            }
            var minutes = lastUpdated.getMinutes();
            if (minutes.toString().length === 1) {
                minutes = '0' + minutes;
            }

            document.getElementById('flightshop-weather-last-updated').innerHTML = 'Last updated ' + hours + ':' + minutes + ' ' + ampm

            document.getElementById('flightshop-temperature-info').innerHTML = temperature + '&deg; ' + temperatureUnits;
            document.getElementById('flightshop-altimeter-info').innerHTML = 'altimeter: ' + altimeterValue;
            document.getElementById('flightshop-wind-info').innerHTML = 'wind: ' + windSpeed + ' ' + windSpeedUnits + ', ' + windDirection + '&deg; ' + directionCode;
            document.getElementById('flightshop-visibility-info').innerHTML =  'visibility: ' + visibility + ' ' + visiblityUnits;
        });
                }

                function renderCartButton() {
                    var cartSession = window.sessionStorage.getItem('cartItems');
                    var cart = cartSession && cartSession.length ? JSON.parse(cartSession) : [];
                    var cartLength = 0;
                    for (var i = 0; i < cart.length; i++) {
                        var item = cart[i];
                        cartLength += item.Quantity;
                    }

                    var cartCountLabel = document.getElementById('flightshop-cart-items-count');
                    var cartCountPadding = 0.25;
                    if (cartLength >= 100) {
                        cartCountPadding = 0.6;
                        cartLength = '99+';
                        cartCountLabel.style.fontSize = '0.75em'
                    }
                    else if (cartLength >= 10) {
                        cartCountPadding = 0.5;
                        cartCountLabel.style.fontSize = '1em';
                    }

                    document.getElementById('flightshop-cart-count-wrapper').style.padding = cartCountPadding + 'em 0';
                    cartCountLabel.innerHTML = cartLength;
                }

                function userSearchEnter() {
                    var query = document.getElementById('user-search-val').value;
                    console.log('query me ', query)
                    if (query) {
                        var searchUrl = encodeURI('@Url.Action("SearchResults", "Home")' + '?q=' + query);
                        queuedQuery = null;
                        location.href = searchUrl;   
                    }
                }

                var queuedQuery = null;
                function userSearchChange() {
                    var searchValue = document.getElementById('user-search-val').value || null;
                    queuedQuery = searchValue;
                }

                var QUICK_SEARCH_RESULTS_COUNT = 5;
                function renderSearchResults(results) {
                    var resultsList = document.getElementById('flightshop-quick-search-results-list');
                    while (resultsList.firstChild) {
                        resultsList.removeChild(resultsList.firstChild);
                    }

                    var hasResults = results && results.length;
                    var noResultsMsg = document.getElementById('flightshop-quick-search-no-results');
                    noResultsMsg.style.display = hasResults ? 'none' : 'block';
                    if (hasResults) {
                        for (var i = 0; i < results.length && i < QUICK_SEARCH_RESULTS_COUNT; i++) {
                            var searchResult = results[i];
                            var searchResultElement = document.createElement('li');
                            searchResultElement.classList.add('flightshop-quick-search-li');
                            var searchResultContentWrapper = document.createElement('p');
                            searchResultContentWrapper.classList.add('flightshop-quick-search-content');

                            var searchResultLink = document.createElement('a');
                            searchResultLink.classList.add('flightshop-quick-search-link');
                            var routeUrl = '@Context.Request.Scheme' + '://' + '@Context.Request.Host' + '/Products/ProductDetail/' + searchResult.productId;
                            searchResultLink.href = routeUrl;

                            var partNumber = document.createElement('strong');
                            partNumber.classList.add('flightshop-quick-search-pt-nr');
                            partNumber.innerHTML = searchResult.name;

                            var partDesc = document.createElement('span');
                            partDesc.classList.add('flightshop-quick-search-desc');
                            partDesc.innerHTML = searchResult.description;

                            var searchResultNavigateArrow = document.createElement('span');
                            searchResultNavigateArrow.classList.add('flightshop-quick-search-right-arrow');
                            searchResultNavigateArrow.innerHTML = '&#8250;';

                            searchResultLink.appendChild(partNumber);
                            searchResultLink.appendChild(partDesc);
                            searchResultLink.appendChild(searchResultNavigateArrow);
                            searchResultContentWrapper.appendChild(searchResultLink);
                            searchResultElement.appendChild(searchResultContentWrapper);

                            resultsList.appendChild(searchResultElement);
                        }
                    }

                    resultsList.style.display = 'inline-block';
                    resultsList.focus();
                    resultsList.onblur = function () {
                        document.getElementById('flightshop-quick-search-results-list').style.display = 'none';
                    }
                }

                function beginListenForQueries() {
                    setInterval(function () {
                        if (queuedQuery) {
                            var searchUrl = encodeURI('@Url.Action("Search", "Home")' + '?q=' + queuedQuery);
                            queuedQuery = null;
                            $.get(searchUrl)
                                .done(function (results) {
                                    renderSearchResults(results);
                                });
                        }
                    }, 250);
                }

                function hideQuickSearchOnClick() {
                    document.addEventListener('click', function (e) {
                        var resultsListId = 'flightshop-quick-search-results-list';
                        var searchBtn = 'flightshop-search-button';
                        var searchBtnImg = 'flightshop-search-button-image';
                        if (![resultsListId, searchBtn, searchBtnImg].includes(e.target.id)) {
                            document.getElementById(resultsListId).style.display = 'none';
                            document.getElementById('user-search-val').value = '';
                        }
                    })
                }

                window.addEventListener('load', function () {
                    beginListenForQueries();
                    renderCartButton();
                    hideQuickSearchOnClick();
                });
            </script>
    </body>
</html>
