
@using TheFlightShop.DAL;
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="flightshop-checkout-title">Checkout</h2>

<form id="flightshop-checkout-form">
    <div class="flightshop-checkout-section">
        <h4 class="flightshop-checkout-section-title">Customer Information</h4>
        @*<div class="row">*@
        <div class="col-md-6">
            <div class="form-group">
                <label for="flightshop-customer-first-name">First Name</label>
                <input id="flightshop-customer-first-name" type="text" class="form-control" placeholder="ex. Bessie" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="flightshop-customer-last-name">Last Name</label>
                <input id="flightshop-customer-last-name" type="text" class="form-control" placeholder="ex. Doolittle" required />
            </div>
        </div>
        @*</div>*@
        @*<div class="row">*@
        <div class="col-md-12">
            <div class="form-group">
                <label for="flightshop-customer-email">Email</label>
                <input id="flightshop-customer-email" type="text" class="form-control" placeholder="ex. someone@example.com" required />
            </div>
        </div>
        @*</div>*@
        @*<div class="row">*@
        <div class="col-md-6" style="padding-bottom: 1em;">
            <div class="form-group">
                <label for="flightshop-customer-phone">Phone</label>
                <input id="flightshop-customer-phone" type="text" class="form-control" placeholder="ex. 5551110000" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="flightshop-po-number">PO Number (Optional)</label>
                <input id="flightshop-po-number" type="text" class="form-control" />
            </div>
        </div>
        @*</div>*@
    </div>

    <div id="flightshop-addr-section" class="flightshop-checkout-section">
        <h4 class="flightshop-checkout-section-title">Shipping Address</h4>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="flightshop-customer-shipping-addr-type">Address Type</label>
                <select id="flightshop-customer-shipping-addr-type" class="flightshop-select" onchange="addrTypeChange('shipping')">
                    <option value="domestic">Inside U.S.</option>
                    <option value="international">Outside U.S.</option>
                </select>
            </div>
        </div>
        <div class="row" id="shipping-addr-international" style="display: none; clear: both;">
            <div class="form-group flightshop-addr-textarea">
                <label for="flightshop-customer-international-shipping-addr">Address</label>
                <textarea id="flightshop-customer-international-shipping-addr" class="form-control" rows="4" placeholder="ex. Recipient Name&#13;&#10;Storgata 15 A&#13;&#10;0161 Oslo&#13;&#10;Norway"></textarea>
            </div>
        </div>
        <div class="row shipping-addr-row" style="clear: both;">
            <div class="form-group col-md-6">
                <label for="flightshop-customer-company-name">Company Name (Optional)</label>
                <input id="flightshop-customer-company-name" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label for="flightshop-customer-attention-to">Attention To (Optional)</label>
                <input id="flightshop-customer-attention-to" type="text" class="form-control" />
            </div>
        </div>
        <div class="row shipping-addr-row">
            <div class="form-group col-md-8">
                <label for="flightshop-customer-addr-1">Address Line 1</label>
                <input id="flightshop-customer-addr-1" type="text" class="form-control shipping-input-field" placeholder="ex. 123 Maple St" required />
            </div>
            <div class="form-group col-md-4">
                <label for="flightshop-customer-addr-2">Address Line 2 (Optional)</label>
                <input id="flightshop-customer-addr-2" type="text" class="form-control" placeholder="ex. Apt. 121, Ste. 300..." />
            </div>
        </div>
        <div class="row shipping-addr-row">
            <div class="form-group col-md-5" style="padding-bottom: 1em;">
                <label for="flightshop-customer-city">City</label>
                <input id="flightshop-customer-city" type="text" class="form-control shipping-input-field" placeholder="ex. Anywhereville" required />
            </div>
            <div class="form-group col-md-3">
                <label for="flightshop-customer-state">State</label>
                <select id="flightshop-customer-state" class="flightshop-select shipping-input-field" required>
                    <option disabled selected value="">--</option>
                    <option value="AK">AK</option>
                    <option value="AL">AL</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MA">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VA">VA</option>
                    <option value="VT">VT</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="GU">Guam</option>
                    <option value="AS">American Samoa</option>
                    <option value="MP">Northern Mariana Islands</option>
                    <option value="VI">U.S. Virgin Islands</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="flightshop-customer-zipcode">ZIP</label>
                <input id="flightshop-customer-zipcode" type="number" class="form-control shipping-input-field" placeholder="ex. 90210" required />
            </div>
        </div>
        <div class="row" style="clear: both;">
            <div class="form-group col-md-3" style="padding-bottom: 1.5em;">
                <label for="flightshop-shipping-type">Shipping Type</label>
                <select id="flightshop-shipping-type" class="flightshop-select" onchange="shippingTypeChanged()" required>
                    <option disabled selected value="">--</option>
                    <option value="@((int)ShippingType.UpsGround)">@ShippingType.UpsGround.Name</option>
                    <option value="@((int)ShippingType.UpsRed)">@ShippingType.UpsRed.Name</option>
                    <option value="@((int)ShippingType.UpsTwoDay)">@ShippingType.UpsTwoDay.Name</option>
                    <option value="@((int)ShippingType.UpsThreeDay)">@ShippingType.UpsThreeDay.Name</option>
                    <option value="@((int)ShippingType.FedExGround)">@ShippingType.FedExGround.Name</option>
                    <option value="@((int)ShippingType.FedExP2)">@ShippingType.FedExP2.Name</option>
                    <option value="@((int)ShippingType.FedExP1)">@ShippingType.FedExP1.Name</option>
                    <option value="@((int)ShippingType.Other)">@ShippingType.Other.Name</option>
                </select>
            </div>
            <div class="col-md-5">
                <label style="visibility: hidden;">Invisible label for styling (tisk, tisk)</label>
                <input id="flightshop-customer-custom-shipping-type" type="text" placeholder="Please specify shipping type" style="width: 100%; display: none;" />
            </div>
        </div>
    </div>

    <div class="flightshop-checkout-section">
        <h4 class="flightshop-checkout-section-title">Billing Address</h4>
        <div class="row">
            <div id="flightshop-billing-addr-type-container" class="form-group col-md-4">
                <label for="flightshop-customer-billing-addr-type">Address Type</label>
                <select id="flightshop-customer-billing-addr-type" class="flightshop-select" onchange="addrTypeChange('billing')">
                    <option value="domestic">Inside U.S.</option>
                    <option value="international">Outside U.S.</option>
                </select>
            </div>
            <div class="form-group col-md-8" style="padding-top: 1.25em;">
                <input id="flightshop-billing-use-shipping" class="checkout-form-checkbox" type="checkbox" onclick="billingUseShippingChecked()" />
                <label for="flightshop-billing-use-shipping">Same as shipping address</label>
            </div>
        </div>
        <div class="row" id="billing-addr-international" style="display: none; clear: both;">
            <div class="form-group flightshop-addr-textarea">
                <label for="flightshop-customer-international-billing-addr">Address</label>
                <textarea id="flightshop-customer-international-billing-addr" class="form-control" rows="4" placeholder="ex. Recipient Name&#13;&#10;Storgata 15 A&#13;&#10;0161 Oslo&#13;&#10;Norway"></textarea>
            </div>
        </div>
        <div class="row billing-addr-row" style="clear: both;">
            <div class="form-group col-md-3">
                <label for="flightshop-customer-company-name-billing">Company Name (Optional)</label>
                <input id="flightshop-customer-company-name-billing" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label for="flightshop-customer-addr-1-billing">Address Line 1</label>
                <input id="flightshop-customer-addr-1-billing" type="text" class="form-control billing-addr-form-control billing-input-field" placeholder="ex. 123 Maple St" required />
            </div>
            <div class="form-group col-md-3">
                <label for="flightshop-customer-addr-2-billing">Address Line 2 (Optional)</label>
                <input id="flightshop-customer-addr-2-billing" type="text" class="form-control" placeholder="ex. Apt. 121, Ste. 300..." />
            </div>
        </div>
        <div class="row billing-addr-row">
            <div class="form-group col-md-5" style="padding-bottom: 1em;">
                <label for="flightshop-customer-city-billing">City</label>
                <input id="flightshop-customer-city-billing" type="text" class="form-control billing-addr-form-control billing-input-field" placeholder="ex. Anywhereville" required />
            </div>
            <div class="form-group col-md-3">
                <label for="flightshop-customer-state-billing">State</label>
                <select id="flightshop-customer-state-billing" class="flightshop-select billing-addr-form-control billing-input-field" required>
                    <option disabled selected value="">--</option>
                    <option value="AK">AK</option>
                    <option value="AL">AL</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MA">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VA">VA</option>
                    <option value="VT">VT</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="GU">Guam</option>
                    <option value="AS">American Samoa</option>
                    <option value="MP">Northern Mariana Islands</option>
                    <option value="VI">U.S. Virgin Islands</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="flightshop-customer-zipcode-billing">ZIP</label>
                <input id="flightshop-customer-zipcode-billing" type="number" class="form-control billing-addr-form-control billing-input-field" placeholder="ex. 90210" required />
            </div>
        </div>
    </div>

    <div class="flightshop-checkout-section">
        <h4 class="flightshop-checkout-section-title">Notes</h4>
        <textarea id="flightshop-cust-notes" class="form-control" rows="4" placeholder="Enter anything you'd like us to know, including but not limited to special shipping information or questions about your order."></textarea>
    </div>

    <div class="flightshop-checkout-section">
        <h4 class="flightshop-checkout-section-title">Additional Information</h4>
        <p id="flightshop-addtl-info-text">
            <ul>
                <li>We will be in touch soon to review your order with you and receive your payment information.</li>
                <li>Additional fees may apply when the order is processed, including taxes and freight charges.</li>
                <li>The Notes field above is private and won't be shared, but it isn't secured with bank-level encryption, so we don't recommend entering credit card information in Notes.</li>
            </ul>
        </p>
        <div class="form-check">
            <input class="form-check-input checkout-form-checkbox" type="checkbox" value="" id="flightshop-order-agree-checkbox" required>
            <label class="form-check-label" for="flightshop-order-agree-checkbox">I have read and understand the Additional Information above.</label>
        </div>
    </div>
    <div class="flightshop-checkout-section">
        <button id="flightshop-checkout-submit-btn" type="submit" class="btn btn-success" onclick="submitOrder()">Submit Order</button>
        <div id="flightshop-submit-order-loading-area" style="display: none; padding-top: 0.5em;">
            <div id="flightshop-submit-order-loader"></div><span id="flightshop-submit-order-loader-text">Submitting order, please wait...</span>
        </div>
    </div>
</form>

<style>
    .checkout-form-checkbox {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        padding: 10px;
        cursor: pointer;
        margin-right: 0.5em !important;
        margin-top: 0.5em;
        margin-left: 0.5em !important;
    }

    #flightshop-checkout-title {
        margin-top: 2em;
    }

    .flightshop-checkout-section {
        
    }

    .flightshop-checkout-section-title {
        border-top: 1px solid #ddd;
        padding: 0.5em;
        margin-top: 2em;
        clear: both;
        font-size: 1.1em;
        background-color: #E9F5FD;
    }

    #flightshop-addtl-info-text {
    }

    #flightshop-checkout-submit-btn {
        margin-top: 1.5em;
        font-size: 1em;
    }

    .flightshop-select {
        width: 100%;
        height: 1.5em;
    }

    #flightshop-submit-order-loader {
        display: inline-block;
        border: 3px solid #cdcdcd;
        border-top: 3px solid #5555ff;
        border-radius: 50%;
        width: 1.75em;
        height: 1.75em;
        animation: spin 1.25s linear infinite;
    }   

    #flightshop-submit-order-loader-text {
        position: relative;
        top: -0.5em;
        left: 0.5em;
        font-style: italic;
    }

    .flightshop-addr-textarea {
        margin-left: 0.5em;
    }

    @@media screen and (min-width: 991px) {
        #flightshop-addr-section {
            height: 210px;
        }
    }
</style>

<script>
    function addrTypeChange(billingOrShipping) {
        var addrType = document.getElementById('flightshop-customer-' + billingOrShipping + '-addr-type').value;
        [].forEach.call(document.getElementsByClassName(billingOrShipping + '-addr-row'), function(row) { row.style.display = addrType === 'international' ? 'none' : 'block'; });
        [].forEach.call(document.getElementsByClassName(billingOrShipping + '-input-field'), function (field) {
            if (addrType === 'international') {
                field.removeAttribute('required');
            } else {
                field.setAttribute('required', true);
            }
        });
        var intlAddrField = document.getElementById('flightshop-customer-international-' + billingOrShipping + '-addr');
        if (addrType === 'international') {
            intlAddrField.setAttribute('required', true);
        } else {
            intlAddrField.removeAttribute('required');
        }
        document.getElementById(billingOrShipping + '-addr-international').style.display = addrType === 'international' ? 'block' : 'none';
    }

    function isCustomShippingType() {
        var shippingType = document.getElementById('flightshop-shipping-type').value;
        var otherType = '@((int)ShippingType.Other)';
        return shippingType === otherType;
    }

    function shippingTypeChanged() {
        var isCustomShipType = isCustomShippingType();
        var shippingTypeTextDisplay = isCustomShipType ? 'inline-block' : 'none';
        var customShipType = document.getElementById('flightshop-customer-custom-shipping-type');
        customShipType.style.display = shippingTypeTextDisplay;
        if (isCustomShipType) {
            customShipType.setAttribute('required', true);
        } else {
            customShipType.removeAttribute('required');
        }
    }

    function useShippingAddrForBilling() {
        return document.getElementById('flightshop-billing-use-shipping').checked || false;
    }

    function billingUseShippingChecked() {
        var checked = useShippingAddrForBilling();
        var billingAddrDisplay = checked ? 'none' : 'block';
        var addressRows = document.getElementsByClassName('billing-addr-row');
        var isDomestic = document.getElementById('flightshop-customer-billing-addr-type').value === 'domestic';
        var hideIntlBillingAddr = checked || isDomestic;
        document.getElementById('billing-addr-international').style.display = hideIntlBillingAddr ? 'none' : 'block';
        document.getElementById('flightshop-billing-addr-type-container').style.display = checked ? 'none' : 'block';
        [].forEach.call(addressRows, function (row) {
            row.style.display = isDomestic ? billingAddrDisplay : 'none';
        });
        var isBillingAddrRequired = !checked;
        var formControls = document.getElementsByClassName('billing-addr-form-control');
        [].forEach.call(formControls, function (control) {
            if (isBillingAddrRequired) {
                control.setAttribute('required', true);
            } else {
                control.removeAttribute('required');
            }
        });
    }

    function clearCart() {
        window.sessionStorage.setItem('cartItems', []);
        renderCartButton();
    }

    function setAddresses(clientOrder, isIntlShipping, isIntlBilling, useShippingAddressForBilling) {
        if (isIntlShipping) {
            clientOrder.InternationalShippingAddress = document.getElementById('flightshop-customer-international-shipping-addr').value;
        } else {
            clientOrder.Address1 = document.getElementById('flightshop-customer-addr-1').value;
            clientOrder.Address2 = document.getElementById('flightshop-customer-addr-2').value || null;
            clientOrder.CompanyName = document.getElementById('flightshop-customer-company-name').value || null;
            clientOrder.AttentionTo = document.getElementById('flightshop-customer-attention-to').value || null;
            clientOrder.City = document.getElementById('flightshop-customer-city').value;
            clientOrder.State = document.getElementById('flightshop-customer-state').value;
            clientOrder.Zip = document.getElementById('flightshop-customer-zipcode').value;
        }
        
        if (isIntlBilling && !useShippingAddressForBilling) {
            clientOrder.InternationalBillingAddress = document.getElementById('flightshop-customer-international-billing-addr').value;
        } else if (!useShippingAddressForBilling) {
            clientOrder.BillingCompanyName = document.getElementById('flightshop-customer-company-name-billing').value || null;
            clientOrder.BillingAddress1 = document.getElementById('flightshop-customer-addr-1-billing').value;
            clientOrder.BillingAddress2 = document.getElementById('flightshop-customer-addr-2-billing').value || null;
            clientOrder.BillingCity = document.getElementById('flightshop-customer-city-billing').value;
            clientOrder.BillingState = document.getElementById('flightshop-customer-state-billing').value;
            clientOrder.BillingZip = document.getElementById('flightshop-customer-zipcode-billing').value;
        }
    }

    function submitOrder() {
        var clientOrder = {
            FirstName: document.getElementById('flightshop-customer-first-name').value,
            LastName: document.getElementById('flightshop-customer-last-name').value,
            Email: document.getElementById('flightshop-customer-email').value,
            Phone: document.getElementById('flightshop-customer-phone').value,
            
            ShippingType: parseInt(document.getElementById('flightshop-shipping-type').value),
            CustomShippingType: document.getElementById('flightshop-customer-custom-shipping-type').value || null,
            PurchaseOrderNumber: document.getElementById('flightshop-po-number').value || null,
            Notes: document.getElementById('flightshop-cust-notes').value || null
        };
        var isIntlShipping = document.getElementById('flightshop-customer-shipping-addr-type').value === 'international';
        var isIntlBilling = document.getElementById('flightshop-customer-billing-addr-type').value === 'international';
        var useShippingAddressForBilling = useShippingAddrForBilling();
        setAddresses(clientOrder, isIntlShipping, isIntlBilling, useShippingAddressForBilling);

        var agreed = document.getElementById('flightshop-order-agree-checkbox');
        var billingAddrValid = useShippingAddressForBilling ? true : (isIntlBilling ? clientOrder.InternationalBillingAddress : (clientOrder.BillingAddress1 && clientOrder.BillingCity && clientOrder.BillingState && clientOrder.BillingZip));
        var shippingAddrValid = isIntlShipping ? clientOrder.InternationalShippingAddress : (clientOrder.Address1 && clientOrder.City && clientOrder.State && clientOrder.Zip && (clientOrder.ShippingType !== null && (!isCustomShippingType() || clientOrder.CustomShippingType !== null)));
        if (clientOrder.FirstName && clientOrder.LastName && clientOrder.Email && clientOrder.Phone && shippingAddrValid && billingAddrValid && agreed.checked) {
            var orderLines = [];
            var cart = JSON.parse(window.sessionStorage.getItem('cartItems'));
            for (var i = 0; i < cart.length; i++) {
                var item = cart[i];
                var orderLine = {
                    PartNumber: item.PartNumber,
                    ProductId: item.ProductId || null,
                    Quantity: parseInt(item.Quantity) || 0
                };
                orderLines.push(orderLine);
            }
            clientOrder.OrderLines = orderLines;

            document.getElementById('flightshop-checkout-submit-btn').style.display = 'none';
            document.getElementById('flightshop-submit-order-loading-area').style.display = 'block';
            var url = '@Url.Action("SubmitOrder", "Cart")';
            $.ajax({
                type: 'POST',
                url: url,
                data: clientOrder
            }).done(function () {
                clearCart();
                location.href = '@Url.Action("Index", "Home", new { OrderSubmitted = "true".ToString() })'; //    location.href = '/'; url action 'cart' 'confirmation' (w/ conf #)
            }).fail(function () {
                clearCart();
                location.href = '@Url.Action("Index", "Home", new { OrderSubmitted = "false".ToString() })';
            });
        }
    }

    window.addEventListener('load', function () {
        document.getElementById('flightshop-checkout-form').addEventListener('submit', function (evt) {
            evt.preventDefault();
        })
    })
</script>