
@model TheFlightShop.Models.CheckoutSubmissionViewModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="flightshop-checkout-title">Checkout</h2>

<div id="flightshop-checkout-steps-header" class="row">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-4">
                    <div id="checkout-step-customer" class="step">
                        <div><span class="glyphicon glyphicon-info-sign"></span></div>
                        Customer Info
                        <div class="caret right"></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div id="checkout-step-shipping" class="step">
                        <div>
                            <img id="checkout-truck-active" class="checkout-truck-icon" src="~/images/flightshop-truck.svg" alt="truck" style="display: none;">
                            <img id="checkout-truck-inactive" class="checkout-truck-icon" src="~/images/flightshop-truck-disabled.svg" alt="truck" style="display: none;">
                        </div>
                        Shipping Info
                        <div class="caret right"></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div id="checkout-step-billing" class="step">
                        <div><span class="glyphicon glyphicon-usd"></span></div>
                        Billing Address
                        <div class="caret right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" style="clear: both;">
                <div class="col-xs-4">
                    <div id="checkout-step-payment" class="step">
                        <div><span class="glyphicon glyphicon-credit-card"></span></div>
                        Payment Method
                        <div class="caret right"></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div id="checkout-step-review" class="step">
                        <div><span class="glyphicon glyphicon-eye-open"></span></div>
                        Review
                        <div class="caret right"></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div id="checkout-step-confirmation" class="step">
                        <div><span id="flightshop-checkout-glyphicon" class="glyphicon"></span></div>
                        Confirmation
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="col-xs-12" />
</div>

<div id="flightshop-checkout-section-customer" class="flightshop-checkout-section" style="display: none;">
    <div class="col-md-6">
        <div class="form-group">
            <label for="flightshop-customer-first-name">First Name</label>
            <input id="flightshop-customer-first-name" type="text" class="form-control mandatory-checkout-field" placeholder="ex. Bessie" required />
            <span class="help-block">Please fill out this field.</span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="flightshop-customer-last-name">Last Name</label>
            <input id="flightshop-customer-last-name" type="text" class="form-control mandatory-checkout-field" placeholder="ex. Doolittle" required />
            <span class="help-block">Please fill out this field.</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="flightshop-customer-email">Email</label>
            <input id="flightshop-customer-email" type="text" class="form-control mandatory-checkout-field" placeholder="ex. someone@example.com" required />
            <span class="help-block">Please fill out this field.</span>
        </div>
    </div>
    <div class="col-md-6" style="padding-bottom: 1em;">
        <div class="form-group">
            <label for="flightshop-customer-phone">Phone</label>
            <input id="flightshop-customer-phone" type="text" class="form-control mandatory-checkout-field" placeholder="ex. 5551110000" required />
            <span class="help-block">Please fill out this field.</span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="flightshop-po-number">PO Number (Optional)</label>
            <input id="flightshop-po-number" type="text" class="form-control" />
        </div>
    </div>

    <div class="flightshop-checkout-button-section">
        <button type="button" class="btn btn-success flightshop-checkout-btn" onclick="goNext('customer', 'shipping')">Next</button>
    </div>
</div>

<div id="flightshop-checkout-section-shipping" class="flightshop-checkout-section flightshop-checkout-section-hidden" style="display: none;">
    <div class="row shipping-addr-row" style="clear: both;">
        <div class="form-group col-md-6">
            <label for="flightshop-customer-company-name">Company Name (Optional)</label>
            <input id="flightshop-customer-company-name" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label for="flightshop-customer-attention-to">Attention To (Optional)</label>
            <input id="flightshop-customer-attention-to" type="text" class="form-control" />
        </div>
    </div>
    <div class="row shipping-addr-row">
        <div class="form-group col-md-5">
            <label for="flightshop-customer-addr-1">Address Line 1</label>
            <input id="flightshop-customer-addr-1" type="text" class="form-control mandatory-checkout-field shipping-input-field" placeholder="ex. 123 Maple St" />
            <span class="help-block">Please fill out this field.</span>
        </div>
        <div class="form-group col-md-3">
            <label for="flightshop-customer-addr-2">Address Line 2 (Optional)</label>
            <input id="flightshop-customer-addr-2" type="text" class="form-control" placeholder="ex. Apt. 121, Ste. 300..." />
        </div>
        <div class="form-group col-md-4" style="padding-bottom: 1em;">
            <label for="flightshop-customer-city">City</label>
            <input id="flightshop-customer-city" type="text" class="form-control mandatory-checkout-field shipping-input-field" placeholder="ex. Anywhereville" />
            <span class="help-block">Please fill out this field.</span>
        </div>
    </div>
    <div class="row shipping-addr-row">
        <div class="form-group col-md-4">
            <label id="customer-state-label" for="flightshop-customer-state">State/Province/Region</label>
            <select id="flightshop-customer-state" class="flightshop-select mandatory-checkout-field shipping-input-field">
                <option disabled selected value="">--</option>
                <option value="AK">AK</option>
                <option value="AL">AL</option>
                <option value="AR">AR</option>
                <option value="AZ">AZ</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MA">MD</option>
                <option value="ME">ME</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MO">MO</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="NE">NE</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NV">NV</option>
                <option value="NY">NY</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VA">VA</option>
                <option value="VT">VT</option>
                <option value="WA">WA</option>
                <option value="WI">WI</option>
                <option value="WV">WV</option>
                <option value="WY">WY</option>
                <option value="PR">Puerto Rico</option>
                <option value="GU">Guam</option>
                <option value="AS">American Samoa</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="VI">U.S. Virgin Islands</option>
            </select>
            <input id="flightshop-customer-state-custom" class="form-control" type="text" style="display: none;" />
            <span class="help-block">Please fill out this field.</span>
        </div>
        <div class="form-group col-md-4">
            <label for="flightshop-customer-zipcode">ZIP/Postal Code</label>
            <input id="flightshop-customer-zipcode" type="text" class="form-control mandatory-checkout-field shipping-input-field" placeholder="ex. 90210" />
            <span class="help-block">Please fill out this field.</span>
        </div>
        <div class="form-group col-md-4">
            <label for="flightshop-customer-country">Country</label>
            <select id="flightshop-customer-country" class="flightshop-select mandatory-checkout-field" onchange="countryChanged('shipping')" style="width: 100%;">
                <option disabled selected value="">--</option>
                @foreach (var countryCode in Country.CODES)
                {
                    <option value="@countryCode.Value">@countryCode.Key</option>
                }
            </select>
            <span class="help-block">Please fill out this field.</span>
        </div>
    </div>
    <div class="row" style="clear: both;">
        <div class="form-group col-md-3" style="padding-bottom: 1.5em;">
            <label for="flightshop-shipping-type">Shipping Type</label>
            <select id="flightshop-shipping-type" class="flightshop-select mandatory-checkout-field" onchange="shippingTypeChanged('@((int)ShippingType.Other)')">
                <option disabled selected value="">--</option>
                <option value="@((int)ShippingType.UpsGround)">@ShippingType.UpsGround.Name</option>
                <option value="@((int)ShippingType.UpsRed)">@ShippingType.UpsRed.Name</option>
                <option value="@((int)ShippingType.UpsTwoDay)">@ShippingType.UpsTwoDay.Name</option>
                <option value="@((int)ShippingType.UpsThreeDay)">@ShippingType.UpsThreeDay.Name</option>
                <option value="@((int)ShippingType.FedExGround)">@ShippingType.FedExGround.Name</option>
                <option value="@((int)ShippingType.FedExP2)">@ShippingType.FedExP2.Name</option>
                <option value="@((int)ShippingType.FedExP1)">@ShippingType.FedExP1.Name</option>
                <option value="@((int)ShippingType.Other)">@ShippingType.Other.Name</option>
            </select>
            <span class="help-block">Please fill out this field.</span>
        </div>
        <div class="col-md-5">
            <label style="visibility: hidden;">Invisible label for styling (tisk, tisk)</label>
            <input id="flightshop-customer-custom-shipping-type" type="text" placeholder="Please specify shipping type" style="width: 100%; display: none;" />
            <span class="help-block">Please fill out this field.</span>
        </div>
    </div>

    <div class="flightshop-checkout-button-section">
        <button type="button" class="btn btn-warning flightshop-checkout-btn" onclick="goBack('shipping', 'customer')">Back</button>
        <button type="button" class="btn btn-success flightshop-checkout-btn" onclick="goNext('shipping', 'billing')">Next</button>
    </div>
</div>

<div id="flightshop-checkout-section-billing" class="flightshop-checkout-section flightshop-checkout-section-hidden" style="display: none;">
    <div class="row">
        <div class="form-group col-md-8" style="padding-top: 1.25em;">
            <input id="flightshop-billing-use-shipping" class="checkout-form-checkbox" type="checkbox" onclick="billingUseShippingChecked()" />
            <label for="flightshop-billing-use-shipping">Same as shipping address</label>
        </div>
    </div>
    <div class="row billing-addr-row" style="clear: both;">
        <div class="form-group col-md-5">
            <label for="flightshop-customer-addr-1-billing">Address Line 1</label>
            <input id="flightshop-customer-addr-1-billing" type="text" class="form-control mandatory-checkout-field billing-addr-form-control billing-input-field" placeholder="ex. 123 Maple St" />
            <span class="help-block">Please fill out this field.</span>
        </div>
        <div class="form-group col-md-3">
            <label for="flightshop-customer-addr-2-billing">Address Line 2 (Optional)</label>
            <input id="flightshop-customer-addr-2-billing" type="text" class="form-control" placeholder="ex. Apt. 121, Ste. 300..." />
        </div>
        <div class="form-group col-md-4" style="padding-bottom: 1em;">
            <label for="flightshop-customer-city-billing">City</label>
            <input id="flightshop-customer-city-billing" type="text" class="form-control mandatory-checkout-field billing-addr-form-control billing-input-field" placeholder="ex. Anywhereville" />
            <span class="help-block">Please fill out this field.</span>
        </div>
    </div>
    <div class="row billing-addr-row">
        <div class="form-group col-md-4">
            <label id="customer-state-label-billing" for="flightshop-customer-state-billing">State/Province/Region</label>
            <select id="flightshop-customer-state-billing" class="flightshop-select mandatory-checkout-field billing-addr-form-control billing-input-field">
                <option disabled selected value="">--</option>
                <option value="AK">AK</option>
                <option value="AL">AL</option>
                <option value="AR">AR</option>
                <option value="AZ">AZ</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MA">MD</option>
                <option value="ME">ME</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MO">MO</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="NE">NE</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NV">NV</option>
                <option value="NY">NY</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VA">VA</option>
                <option value="VT">VT</option>
                <option value="WA">WA</option>
                <option value="WI">WI</option>
                <option value="WV">WV</option>
                <option value="WY">WY</option>
                <option value="PR">Puerto Rico</option>
                <option value="GU">Guam</option>
                <option value="AS">American Samoa</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="VI">U.S. Virgin Islands</option>
            </select>
            <input id="flightshop-customer-state-custom-billing" class="form-control" type="text" style="display: none;" />
            <span class="help-block">Please fill out this field.</span>
        </div>
        <div class="form-group col-md-4">
            <label for="flightshop-customer-zipcode-billing">ZIP/Postal Code</label>
            <input id="flightshop-customer-zipcode-billing" type="text" class="form-control mandatory-checkout-field billing-addr-form-control billing-input-field" placeholder="ex. 90210" />
            <span class="help-block">Please fill out this field.</span>
        </div>
        <div class="form-group col-md-4">
            <label for="flightshop-customer-country-billing">Country</label>
            <select id="flightshop-customer-country-billing" class="flightshop-select mandatory-checkout-field billing-addr-form-control" onchange="countryChanged('billing')" style="width: 100%;">
                <option disabled selected value="">--</option>
                @foreach (var countryCode in Country.CODES)
                {
                    <option value="@countryCode.Value">@countryCode.Key</option>
                }
            </select>
            <span class="help-block">Please fill out this field.</span>
        </div>
    </div>

    <div class="flightshop-checkout-button-section">
        <button type="button" class="btn btn-warning flightshop-checkout-btn" onclick="goBack('billing', 'shipping')">Back</button>
        <button type="button" class="btn btn-success flightshop-checkout-btn" onclick="goNext('billing', 'payment')">Next</button>
    </div>
</div>

<form id="flightshop-checkout-form" method="post">
    <div id="flightshop-checkout-section-payment" class="flightshop-checkout-section flightshop-checkout-section-hidden" style="display: none;">
        <div id="flightshop-credit-card-container">
            <div style="margin-bottom: 1.25em;">
                <span id="flightshop-checkout-cc-lock-icon" class="glyphicon glyphicon-lock"></span>
                <p style="margin-bottom: 3px; font-size: 1.1em;"><strong>Secure credit card authorization</strong></p>
                <p style="font-size: 0.9em;">Your payment information is securely encrypted.</p>
            </div>
            <div id="flightshop-cc-auth-disclaimer">
                <p style="font-size: 1.25em;">Your credit card won't be charged at this time.</p><span id="flightshop-cc-amount-text"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="billing-cc-number">Card Number</label>
                <input id="billing-cc-number" name="billing-cc-number" class="form-control mandatory-checkout-field" type="number" />
                <span class="help-block">Please fill out this field.</span>
            </div>
            <div class="form-group col-md-4">
                <label for="billing-cc-exp">Expiration Date</label>
                <input id="billing-cc-exp" name="billing-cc-exp" type="number" placeholder="MMYY" class="form-control mandatory-checkout-field" oninput="limitCreditCardExpLength(this)" />
                <p><small>(format MMYY, e.g. 0129 for January 2029)</small></p>
                <span id="billing-cc-exp-validation-msg" class="help-block"></span>
            </div>
            <div class="form-group col-md-2">
                <label for="billing-cvv">CVV</label>
                <input id="billing-cvv" name="billing-cvv" type="number" class="form-control mandatory-checkout-field" />
                <span class="help-block">Please fill out this field.</span>
            </div>

            <div class="flightshop-checkout-button-section">
                <button type="button" class="btn btn-warning flightshop-checkout-btn" onclick="goBack('payment', 'billing')">Back</button>
                <button id="flightshop-checkout-submit-btn" type="button" class="btn btn-success flightshop-checkout-btn" onclick="paymentInfoSubmitted(@((int)ShippingType.Other))">Next</button>
            </div>
        </div>
    </div>
</form>

<div id="flightshop-checkout-section-review" class="flightshop-checkout-section flightshop-checkout-section-hidden" style="display: none;">
    <!-- todo: alert on leaving page? -->
    <div class="flightshop-order-review-container" style="clear: both;">
        <div>
            <div>
                <div class="order-review-header">Cart</div>
                <table id="flightshop-order-review-table" class="table">
                    <thead>
                        <tr>
                            <th>Part #</th>
                            <th>Description</th>
                            <th style="text-align: right;">Price</th>
                            <th style="text-align: right;">Quantity</th>
                            <th style="text-align: right;">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody id="flightshop-order-review-table-body"></tbody>
                    <tfoot>
                        <tr style="background-color: #eee;">
                            <th>Total</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th id="flightshop-review-total-th" style="text-align: right;"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div id="flightshop-order-customer-info-review" class="container flightshop-order-review-container">
        <div class="row"><div class="col-sm-12 order-review-header">Customer Information &amp; Address(es)<button onclick="goBack('review', 'customer')" class="btn btn-info flightshop-order-review-edit-btn">Edit<span class="glyphicon glyphicon-pencil flightshop-order-review-edit-icon"></span></button></div></div>
        <div class="row">
            <div class="col-sm-4 flightshop-customer-info-review-box"><strong>First Name:</strong>&nbsp;<span id="flightshop-order-review-fname"></span></div>
            <div class="col-sm-4 flightshop-customer-info-review-box"><strong>Last Name:</strong><span id="flightshop-order-review-lname"></span></div>
            <div class="col-sm-4 flightshop-customer-info-review-box"><strong>Phone:</strong>&nbsp;<span id="flightshop-order-review-phone"></span></div>
        </div>
        <div class="row">
            <div class="col-sm-8 flightshop-customer-info-review-box"><strong>Email:</strong>&nbsp;<span id="flightshop-order-review-email"></span></div>
            <div class="col-sm-4 flightshop-customer-info-review-box"><strong>PO Number:</strong>&nbsp;<span id="flightshop-order-review-po-number"></span></div>
        </div>
        <div class="row"><div class="col-sm-12 order-review-subheader">Shipping Address<button onclick="goBack('review', 'shipping')" class="btn btn-info flightshop-order-review-edit-btn">Edit<span class="glyphicon glyphicon-pencil flightshop-order-review-edit-icon"></span></button></div></div>
        <div class="row">
            <div class="col-sm-6 flightshop-customer-info-review-box"><strong>Company:</strong>&nbsp;<span id="flightshop-order-review-company"></span></div>
            <div class="col-sm-6 flightshop-customer-info-review-box"><strong>Attention To:</strong>&nbsp;<span id="flightshop-order-review-attnto"></span></div>
        </div>
        <div class="row">
            <div class="col-sm-8 flightshop-customer-info-review-box"><strong>Address 1:</strong>&nbsp;<span id="flightshop-order-review-addr1"></span></div>
            <div class="col-sm-4 flightshop-customer-info-review-box"><strong>Address 2:</strong>&nbsp;<span id="flightshop-order-review-addr2"></span></div>
        </div>
        <div class="row">
            <div class="col-sm-6 flightshop-customer-info-review-box"><strong>City:</strong>&nbsp;<span id="flightshop-order-review-city"></span></div>
            <div class="col-sm-3 flightshop-customer-info-review-box"><strong>State:</strong>&nbsp;<span id="flightshop-order-review-state"></span></div>
            <div class="col-sm-3 flightshop-customer-info-review-box"><strong>Zip/Postal:</strong>&nbsp;<span id="flightshop-order-review-zip"></span></div>
        </div>
        <div class="row">
            <div class="col-sm-6 flightshop-customer-info-review-box"><strong>Country:</strong>&nbsp;<span id="flightshop-order-review-country"></span></div>
            <div class="col-sm-6 flightshop-customer-info-review-box"><strong>Shipping Type:</strong>&nbsp;<span id="flightshop-order-review-shiptype"></span></div>
        </div>
        <div class="row"><div class="col-sm-12 order-review-subheader">Billing Address<button onclick="goBack('review', 'billing')" class="btn btn-info flightshop-order-review-edit-btn">Edit<span class="glyphicon glyphicon-pencil flightshop-order-review-edit-icon"></span></button></div></div>
        <div class="row">
            <div class="col-sm-8 flightshop-customer-info-review-box"><strong>Address 1:</strong>&nbsp;<span id="flightshop-order-review-addr1-billing"></span></div>
            <div class="col-sm-4 flightshop-customer-info-review-box"><strong>Address 2:</strong>&nbsp;<span id="flightshop-order-review-addr2-billing"></span></div>
        </div>
        <div class="row">
            <div class="col-sm-6 flightshop-customer-info-review-box"><strong>City:</strong>&nbsp;<span id="flightshop-order-review-city-billing"></span></div>
            <div class="col-sm-3 flightshop-customer-info-review-box"><strong>State:</strong>&nbsp;<span id="flightshop-order-review-state-billing"></span></div>
            <div class="col-sm-3 flightshop-customer-info-review-box"><strong>Zip/Postal:</strong>&nbsp;<span id="flightshop-order-review-zip-billing"></span></div>
        </div>
        <div class="row">
            <div class="col-sm-12 flightshop-customer-info-review-box"><strong>Country:</strong>&nbsp;<span id="flightshop-order-review-country-billing"></span></div>
        </div>
    </div>

    <div class="container flightshop-order-review-container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="flightshop-checkout-section-title">Notes</h4>
                <textarea id="flightshop-cust-notes" class="form-control" rows="4" placeholder="Enter anything you'd like us to know, including but not limited to special shipping information or questions about your order."></textarea>
            </div>
        </div>
    </div>

    <div class="container flightshop-order-review-container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="flightshop-checkout-section-title">Additional Information</h4>
                <p id="flightshop-addtl-info-text">
                    <ul>
                        <li>We will be in touch soon to review your order with you and then process your payment.</li>
                        <li>We will confirm availability and current price of all items with you before processing your payment.</li>
                        <li>Additional fees may apply when the order is processed, including taxes and freight charges.</li>
                    </ul>
                </p>
                <div class="form-group form-check">
                    <input class="form-check-input mandatory-checkout-field checkout-form-checkbox" type="checkbox" value="" id="flightshop-order-agree-checkbox">
                    <label class="form-check-label" for="flightshop-order-agree-checkbox">I have read and understand the Additional Information above.</label>
                    <span class="help-block">Please check this box if you want to proceed.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="flightshop-checkout-button-section">
        <button type="button" class="btn btn-warning flightshop-checkout-btn" onclick="goBack('review', 'payment')">Back</button>
        <button id="flightshop-checkout-submit-btn" type="button" class="btn btn-success flightshop-checkout-btn" onclick="submitOrderPressed()">Submit Order</button>
        <div id="flightshop-submit-order-loading-area" style="display: none; padding-top: 0.5em;">
            <div id="flightshop-submit-order-loader" class="flightshop-order-loader"></div><span class="flightshop-order-loader-text">Submitting order, please wait...</span>
        </div>
    </div>
</div>

<div id="flightshop-checkout-section-processing" style="display: none;">
    <div style="text-align: center"><h2>Processing order...</h2></div>
    <img id="flightshop-checkout-processing-spinner" src="~/images/propeller.png" alt="processing payment..." />
</div>

@if (Model != null)
{
<div id="flightshop-checkout-section-confirmation">
    @if (Model.Succeeded)
    {
        <p>Order submitted.</p>
        <p><strong>Confirmation number:</strong>&nbsp;@Model.ConfirmationNumber.</p>
        <p>You will receive a confirmation email shortly at the address you provided. We will be in touch soon to review your order with you and answer any questions you have.</p>
        <div style="padding-top: 0.5em;">
            <a class="btn btn-info" href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
        </div>
    }
    else
    {
        <p>There was a problem submitting your order.</p>
        <div>
            @if (!string.IsNullOrWhiteSpace(Model.ErrorReason))
            {
                <p>
                    <span><strong>Reason:</strong>&nbsp;@Model.ErrorReason</span>
                    @if (!Model.ErrorReason.EndsWith('.'))
                    {<span>&#46;</span>}
                </p>
            }
            <p>Please try correcting the error or contacting us using buttons below.</p>
            <div style="padding-top: 0.5em;">
                <p>
                    <button type="button" class="btn btn-warning" onclick="goBack('confirmation', 'customer')">Edit customer info</button>
                    <button type="button" class="btn btn-warning" onclick="goBack('confirmation', 'shipping')">Edit shipping info</button>
                    <button type="button" class="btn btn-warning" onclick="goBack('confirmation', 'billing')">Edit billing address</button>
                    <button type="button" class="btn btn-warning" onclick="goBack('confirmation', 'payment')">Edit payment method</button>
                <p>
                    <a class="btn btn-info" href="@Url.Action("Contact", "Home")"><span class="glyphicon glyphicon-phone"></span>&nbsp;Contact us</a>
                    <a class="btn btn-info" href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
                </p>
            </div>
        </div>
    }
</div>
}

<script>
    function getInputValueFromStorage(id) {
        var value = window.sessionStorage.getItem(id);
        document.getElementById(id).value = value;
    }

    function clearSessionStorage() {
        window.sessionStorage.removeItem('flightshop-customer-first-name');
        window.sessionStorage.removeItem('flightshop-customer-last-name');
        window.sessionStorage.removeItem('flightshop-customer-phone');
        window.sessionStorage.removeItem('flightshop-customer-email');
        window.sessionStorage.removeItem('flightshop-shipping-type');
        window.sessionStorage.removeItem('flightshop-customer-custom-shipping-type');
        window.sessionStorage.removeItem('flightshop-po-number');
        window.sessionStorage.removeItem('flightshop-customer-company-name');
        window.sessionStorage.removeItem('flightshop-customer-attention-to');
        window.sessionStorage.removeItem('flightshop-customer-addr-1');
        window.sessionStorage.removeItem('flightshop-customer-addr-2');
        window.sessionStorage.removeItem('flightshop-customer-city');
        window.sessionStorage.removeItem('flightshop-customer-state');
        window.sessionStorage.removeItem('flightshop-customer-zipcode');
        window.sessionStorage.removeItem('flightshop-customer-country');
        window.sessionStorage.removeItem('flightshop-customer-addr-1-billing');
        window.sessionStorage.removeItem('flightshop-customer-addr-2-billing');
        window.sessionStorage.removeItem('flightshop-customer-city-billing');
        window.sessionStorage.removeItem('flightshop-customer-state-billing');
        window.sessionStorage.removeItem('flightshop-customer-zipcode-billing');
        window.sessionStorage.removeItem('flightshop-customer-country-billing');
        window.sessionStorage.removeItem('flightshop-cust-notes');
    }

    var checkoutLoadHandler = function () {
        document.getElementById('checkout-truck-inactive').style.display = 'inline';
        if ('@Model' === '' || '@Model' === 'null') {
            document.getElementById('flightshop-customer-country').value = 'US';
            document.getElementById('flightshop-customer-country-billing').value = 'US';
            document.getElementById('flightshop-checkout-section-customer').style.display = 'block';
            document.getElementById('checkout-step-customer').classList.add('active');
            document.getElementById('flightshop-checkout-glyphicon').classList.add('glyphicon-ok');
        } else if ('@Model?.Succeeded' === 'True' || '@Model?.Succeeded' === 'true') {
            document.getElementById('flightshop-checkout-glyphicon').classList.add('glyphicon-ok');
            document.getElementById('checkout-step-confirmation').classList.add('active');
            clearSessionStorage();
            clearCart();
        } else {
            document.getElementById('flightshop-checkout-glyphicon').classList.add('glyphicon-remove');
            document.getElementById('checkout-step-confirmation').classList.add('step-error');

            getInputValueFromStorage('flightshop-customer-first-name');
            getInputValueFromStorage('flightshop-customer-last-name');
            getInputValueFromStorage('flightshop-customer-phone');
            getInputValueFromStorage('flightshop-customer-email');
            getInputValueFromStorage('flightshop-shipping-type');
            if (window.sessionStorage.getItem('flightshop-shipping-type') === '@((int)ShippingType.Other)') {
                getInputValueFromStorage('flightshop-customer-custom-shipping-type');
                document.getElementById('flightshop-customer-custom-shipping-type').style.display = 'block';
            }
            getInputValueFromStorage('flightshop-po-number');
            getInputValueFromStorage('flightshop-customer-company-name');
            getInputValueFromStorage('flightshop-customer-attention-to');
            getInputValueFromStorage('flightshop-customer-addr-1');
            getInputValueFromStorage('flightshop-customer-addr-2');
            getInputValueFromStorage('flightshop-customer-city');
            getInputValueFromStorage('flightshop-customer-state');
            getInputValueFromStorage('flightshop-customer-state-custom');
            getInputValueFromStorage('flightshop-customer-zipcode');
            getInputValueFromStorage('flightshop-customer-country');
            getInputValueFromStorage('flightshop-customer-addr-1-billing');
            getInputValueFromStorage('flightshop-customer-addr-2-billing');
            getInputValueFromStorage('flightshop-customer-city-billing');
            getInputValueFromStorage('flightshop-customer-state-billing');
            getInputValueFromStorage('flightshop-customer-state-custom-billing');
            getInputValueFromStorage('flightshop-customer-zipcode-billing');
            getInputValueFromStorage('flightshop-customer-country-billing');
            getInputValueFromStorage('flightshop-cust-notes');

            countryChanged('shipping');
            countryChanged('billing');
        }

        var cart = JSON.parse(window.sessionStorage.getItem('cartItems'));
        setPaymentAuthAmountText(cart);
        setOrderReviewTable(cart);
        var checkoutForm = document.getElementById('flightshop-checkout-form');
        checkoutForm.addEventListener('submit', function (evt) {
            evt.preventDefault();
        });
        $('#flightshop-customer-country').select2();
        $('#flightshop-customer-country-billing').select2();
    };
    window.addEventListener('load', checkoutLoadHandler);

    function submitOrderPressed() {
        var customerInfoUrl = '@Url.Action("SubmitCustomerInfo", "Cart")';
        var errorRedirectUrl = '@Url.Action("Index", "Home", new { OrderSubmitted = "false".ToString() })';
        submitOrder(customerInfoUrl, errorRedirectUrl, @((int)ShippingType.Other));
    }

    function clearCart() {
        window.sessionStorage.setItem('cartItems', []);
        renderCartButton();
        window.removeEventListener('load', clearCart);
    }
</script>

<style>
    /* Nick really did it this time... .flightshop-checkout-section is needed for checkout page transitions to work, presumably because it alters selectors to produce favorable behavior across browsers.... */
    
        #flightshop-order-customer-info-review .flightshop-customer-info-review-box {
            border: 1px solid #ddd;
            padding: 0.5em;
            white-space: nowrap;
        }

        .flightshop-order-review-container {
            width: 100%;
        }

        .flightshop-order-review-edit-btn {
            float: right;
            margin-top: 0.1em;
        }
        .flightshop-order-review-edit-icon {
            padding-left: 0.25em;
        }

        .flightshop-order-review-container .order-review-header {
            font-size: 1.3em;
            background-color: #E9F5FD;
            padding: 0.25em 0.5em;
        }
        .flightshop-order-review-container .order-review-subheader {
            background-color: #eee;
            padding: 0.25em 0.5em;
        }

        .flightshop-checkout-section-hidden {
            opacity: 0;
        }

        .flightshop-checkout-section.section-fade-in {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.2s;
        }

        .flightshop-checkout-section.section-fade-out {
            opacity: 0;
            transition: opacity 0.2s;
        }

        .checkout-form-checkbox {
            -ms-transform: scale(2);
            -moz-transform: scale(2);
            -webkit-transform: scale(2);
            -o-transform: scale(2);
            transform: scale(2);
            padding: 10px;
            cursor: pointer;
            margin-right: 0.5em !important;
            margin-top: 0.5em;
            margin-left: 0.5em !important;
        }

        #flightshop-checkout-section-processing {
            text-align: center;
            height: 50vh;
        }

        #flightshop-checkout-title {
            margin-top: 2em;
        }

        .flightshop-checkout-button-section {
            width: 12em;
        }

        .flightshop-checkout-section-title {
            border-top: 1px solid #ddd;
            padding: 0.5em;
            margin-top: 2em;
            clear: both;
            font-size: 1.1em;
            background-color: #E9F5FD;
        }

        #flightshop-addtl-info-text {
        }

        .flightshop-checkout-btn {
            margin-top: 0.5em;
            font-size: 1em;
        }

        .flightshop-select {
            width: 100%;
            height: 1.5em;
        }

        .flightshop-order-loader {
            display: inline-block;
            border: 3px solid #cdcdcd;
            border-top: 3px solid #5555ff;
            border-radius: 50%;
            width: 1.75em;
            height: 1.75em;
            animation: spin 1.25s linear infinite;
        }

        .flightshop-order-loader-text {
            position: relative;
            top: -0.5em;
            left: 0.5em;
            font-style: italic;
        }

        .flightshop-addr-textarea {
            margin-left: 0.5em;
        }

        .help-block {
            display: none;
        }

        .has-error .help-block {
            display: block;
        }

        #flightshop-checkout-processing-spinner {
            width: 15vw;
            height: 15vw;
            min-height: 150px;
            min-width: 150px;
            max-height: 500px;
            max-width: 500px;
            margin: 2em 0 0 -2em;
            -webkit-animation: spin 2s linear infinite;
            -moz-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        #flightshop-cc-auth-disclaimer {
            margin-bottom: 1em;
            background-color: #fff3cd;
            padding: 0.5em;
        }

        @@-moz-keyframes spin {
            100% {
                -moz-transform: rotate(360deg);
            }
        }

        @@-webkit-keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        #flightshop-credit-card-container {
            clear: both;
            background-color: #DAEFFE;
            padding: 0.5em;
            border: 2px solid #eee;
            border-radius: 1px;
        }

        #flightshop-checkout-cc-lock-icon {
            font-size: 1.5em;
            float: left;
            padding: 0.5em;
            color: #444;
        }

        /** BEGIN: payment steps header */

        .checkout-truck-icon {
            width: 1.25em;
            position: relative;
            bottom: 5px;
            color: #ccc;
            margin: 0 auto;
        }

        .step.active .checkout-truck-icon {
            color: #3C763D;
        }

        .step {
            background: #eee;
            color: #ccc;
            padding: 15px;
            font-size: 1em;
            text-align: center;
            height: 6em;
        }

            .step.active {
                color: #3C763D;
                background-color: #eeffee;
            }
            .step.step-error {
                color: #a94442;
                background-color: #f2dede;
            }

                .step.active .glyphicon {
                    font-size: 1.25em;
                }

            .step .caret {
                position: absolute;
                margin: 0;
                color: #eee;
                opacity: 1.0;
            }

                .step .caret.right {
                    right: 1px;
                    top: 0px;
                    border-top: 3em solid transparent;
                    border-bottom: 3em solid transparent;
                    border-left: 30px solid;
                }

            .step.active .caret.right {
                color: #eeffee;
            }
            .step.step-error .caret.right {
                color: #f2dede;
            }

            .step .caret.bottom {
                bottom: -15px;
                left: 40%;
                border-top: 15px solid;
                border-right: 50px solid transparent;
                border-left: 50px solid transparent;
            }

        @@media(max-width:991px) {
            .step {
                text-align: center;
                margin-top: 20px;
                height: 80px;
            }

                .step .caret.right {
                    top: 20px;
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                }
        }

        @@media(max-width:767px) {
            .step {
                height: auto;
            }
        }

        @@media(min-width:768px) {
            .step {
                margin-right: 20px;
            }
        }

        /** END: payment steps header */
</style>
